html {
    font-family:'Lucida Console';
    font-size: medium;
    color: rgb(54, 17, 88);
}

form {
    width: 40%;
    margin: 0px auto;
    border: 3px solid green;
    border-radius: 5px;
    background-color: rgb(240, 197, 197);
}